[2021-01-21 15:52] #281 closed

[2021-01-21 20:31] andersy005 commented on #281
Thank you for the update, @markusritschel!

[2021-02-02 17:06] #317 closed

[2021-02-02 17:07] andersy005 opened #320 "Investigate and fix zarr/Blosc issues"
[Python 3.7 CI](https://github.com/NCAR/xpersist/runs/1811052841?check_suite_focus=true) has been failing for the last few days due to some intermittent Blosc issues:

[code]

[2021-02-07 17:31] andersy005 commented on #320
The issue appears to be caused by a wrong Python implementation. For reason unbeknownst to me, mamba is install pypy3.7 instead of the cpython implementation:

[code]

[2021-02-07 17:55] #320 closed

[2021-02-18 15:14] jbusecke opened #323 "Confusion about 'official' catalog for pangeo cmip6"
We had some issues over at [cmip6_preprocessing](https://github.com/jbusecke/cmip6_preprocessing/issues/93#issuecomment-781264590) where users followed the intake-esm docs to load the pangeo cmip6 data.

If I understand correctly, the main catalog file to use is now `"https://storage.googleapis.com/cmip6/pangeo-cmip6.json"`, should we change the docs accordingly?

Or is there a specific reason to

[2021-02-18 15:35] jbusecke opened #324 "zarr does not like attrs added by intake-esm"
Intake-esm adds the attribute `intake_esm_varname` to datasets, and I have encountered cases where that ends up being `None` (still looking for the exact model).

Zarr does not like that type of metadata:
[code]

gives

[code]

Should the attribute be set to a string `'none'` instead?

[2021-02-18 18:22] andersy005 commented on #324
Good catch. We could add some validators or just remove the custom metadata once were are done with assembling the datasets of interest.

[2021-02-18 18:25] andersy005 commented on #323
Nope. The NCAR version is a legacy version that existed before there was an official catalog for pangeo-cmip6. I kept maintaining it, but I think it may be a good time to deprecate it so as to avoid any confustion.

[2021-02-22 15:40] andersy005 commented on #324
The easiest solution is to remove the custom metadata info used by intake-esm. These can be removed right before returning the dataset in these two locations:

https://github.com/intake/intake-esm/blob/926f25586956915a889d60528525331263e81440/intake_esm/source.py#L82-L85

https://github.com/intake/intake-esm/blob/926f25586956915a889d60528525331263e81440/intake_esm/source.py#L240-L243

[2021-02-27 17:08] aaronspring opened #325 "intake-esm for multi-dim zarr in cloud?"
Hi Anderson,

I have a general question about the scope and purpose of intake-esm (which I love and use once a week) and its limits.

We want to move S2S/SubX data to the cloud and think about data access. Essentially intake-esm takes raw model output and concatenates files together as specified in the json because cmip6 simulations are heterogeneous across activity_id.

The data we want to provid

[2021-02-28 00:21] andersy005 commented on #325
Hi @aaronspring,

If I am not mistaken, I think with a catalog in place, intake-esm is happy to do the subsetting work for you at the catalog level, and then propagating the information to the code that loads the data. What I gathered from the issues and comments you linked to, is that the structure of the resulting zarr stores will resemble to the raw outputs (i.e. history files in which you have

[2021-02-28 11:39] aaronspring commented on #325
Thanks for the quick reply @andersy005.

Sorry, I was too short in my problem description. I meant the opposite: Our idea (backed by Ryan in https://github.com/pangeo-forge/staged-recipes/issues/17#issuecomment-766872196 for performance reasons (chunked for climpred `{'init':-1}`) ) is to aggregate raw model output into multi-simulation multi-var zarr stores.
We can do so, because our data is stat

[2021-03-17 21:00] andersy005 commented on #323
This has been addressed in the documentation

[2021-03-17 21:00] #323 closed

[2021-03-23 00:00] jdldeauna opened #327 "Selecting monthly data from CMIP6 data"
Hello! I've been using intake-esm to download CMIP6 data, and I've been getting the following error when I try to select data from specific months ([sample notebook](https://github.com/jdldeauna/GitHub-Issues/blob/master/Select%20specific%20months%20from%20CMIP6%20data.ipynb)):

[code]

I tried using pandas to download data and was able to select specific months from that data. I wonder if I'm usi

[2021-03-23 04:04] andersy005 commented on #327
@jdldeauna,

This code snippet is the culprit:

[code]

Notice the `decode_times: False` which tells xarray _not to convert_ time values from floats to datetime compatible objects.

The following should fix the issue:

[code]

Let me know if this solution works for your use case.

[2021-03-23 04:32] jdldeauna commented on #327
I see, thank you so much! It worked for me. I apologize for the oversight.

[2021-03-23 04:32] #327 closed

[2021-03-23 04:34] andersy005 commented on #327
Of course! No apology necessary. We just need better documentation -:)

[2021-04-09 14:54] jbusecke opened #331 "Issue with CanESM.ssp585.r9i1p1f1.Omon.tos CMIP6 zarr store and intake-esm"
### Description

I am running into some obscure problem with a single zarr store in the [pangeo CMIP6 archive](https://pangeo-data.github.io/pangeo-cmip6-cloud/index.html).

The data in question is `CanESM.ssp585.r9i1p1f1.Omon.tos`.

I basically follow the standard instructions on how to load the data with intake-esm [here](https://pangeo-data.github.io/pangeo-cmip6-cloud/accessing_data.html#loadi

[2021-04-09 14:57] jbusecke opened #332 "Proper way to handle failing `preprocess` output."
I am encountering an issue with one dataset when loading many CMIP6 datasets using intake-esm (see #331).

I believe this is actually an issue with the raw data, but either way it got me curious if there is a way to handle the following scenario properly:

Lets say I have 2 dataset (`ds_a`,`ds_b`) in 2 different zarr stores and an appropriately set up intake-esm catalog.
Now I have some preprocess

[2021-04-15 14:50] andersy005 commented on #332
@jbusecke,

Yes, I think this is doable. We could make this an optional setting that the user could opt-in. To be sure that this doesn't happen silently, we could raise a warning to let them know which keys failed.

Do you have suggestions on what the API would look like? I am imagining something along these lines:

[code]

or

[code]

[2021-04-15 14:53] andersy005 commented on #331
I'm going to look into this and will let you what I find.

[2021-04-15 15:02] jbusecke commented on #332
How about `skip_errors=True`? Its a happy medium?

[2021-04-15 20:15] naomi-henderson commented on #331
@jbusecke and @andersy005 - sorry for not getting to this sooner. The `r9i1p1f1` version has crazy latitude values:

[code]
then plot
[code]
and
[code]

[2021-04-17 11:27] anuragap98 commented on #224
Anyone find the solution to this issue -
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-3-8722c240ef21> in <module>
      1 # Open collection description file
      2 catalog_url = 'https://ncar-cesm-lens.s3-us-west-2.amazonaws.com/catalogs/aws-cesm1-le.json'
----> 3 col = intake

[2021-04-21 22:44] jdldeauna commented on #157
Hello! I'm encountering similar errors, even with updated versions of intake:

[code]

Example:

[code]
Errors:

[code]

Using ` col.aggregation_info['aggregations'][0].update({'options': {'compat': 'override'}})` results in the following error:

[code]

[2021-04-22 00:39] aradhakrishnanGFDL opened #336 "Issue reading FGOALS-f3-L Omon/thetao CMIP netcdf that is (S3) cloud-resident"
### Description

[code]

### What I Did
I tried to use intake_esm with the [catalog](col_url = "https://cmip6-nc.s3.us-east-2.amazonaws.com/esgf-world.json"
)  to open the above mentioned datasets. Few other models used in the analysis seem to open fine, but an issue crops up when we attempt to use the data mentioned above.

The notebook with the code to reproduce the issue and info on the version

[2021-04-22 00:52] aradhakrishnanGFDL commented on #336
Just a note if it helps- Randomly checking a few 2D Omon fields from the same model/experiment, seems to work okay.
In addition to thetao, another 3D field (so) also shows the same error and it has three assets as well, each 50 years I think
example-
s3://esgf-world/CMIP6/CMIP/CAS/FGOALS-f3-L/historical/r1i1p1f1/Omon/so/gn/v20191007/so_Omon_FGOALS-f3-L_historical_r1i1p1f1_gn_185001-189912.nc

[2021-05-11 14:42] jbusecke opened #339 "`variant_label` vs `member_id`"
Working with the pangeo CMIP6 data, I find myself going back and forth between the attribute `variant_label` and the dimension `member_id`, which I think are exactly the same thing.
I have been working on a flexible way to combine/aggregate datasets with different variables/ensemble members etc [here](https://github.com/jbusecke/cmip6_preprocessing/pull/120/files#), which is entirely based on the

[2021-05-11 15:28] andersy005 commented on #339
When I first built the catalog for CMIP6, I used the official ["data reference syntax" document](https://docs.google.com/document/d/1h0r8RZr_f3-8egBMMh7aqLwy3snpD6_MrDz1q8n5XUk/edit). In the "filename template" section, they used `member_id` instead of the `variant_label`. Because I had seen this "member_id" vocabulary used in other contexts (CESM, etc...) I didn't pay attention to what this was r

[2021-05-11 15:40] andersy005 commented on #339
@andersy005, how painful is making `variant_label` and `member_id` synonyms in cmip6_preprocessing code-base? I was wondering if this could constitute a long term solution instead of dealing with the catalog (which I think is fragile since anyone can name the attributes/columns however they want).

[2021-05-21 16:02] swartn commented on #224
I'm still experience this issue under linux, and can confirm intake-esm is installed as above.

[2021-06-01 13:11] andersy005 commented on #224
@anuragap98, @swartn

Can you confirm that you are running the right kernel by running the following:

[code]

[2021-06-07 16:50] jdldeauna commented on #157
Just in case other people encounter a similar error, cmip6_preprocessing has [new features](https://cmip6-preprocessing.readthedocs.io/en/latest/postprocessing.html) which address the issue:

[code]

[2021-06-24 16:22] andersy005 opened #343 "Ensure coordinate dimensions are sorted"
Currently, we create or modify coordinate dimensions via `join_existing` and `join_new` without ensuring that the resulting coordinate labels are sorted. This results in datasets with time coordinates that are not monotonically increasing leading to issues when using features like `.sel()`. We should make sure that the dimensions are sorted before returning the dataset.

[2021-06-24 16:25] andersy005 opened #344 "Investigate and fix data loading issue when using dask's threaded scheduler"
There have been reports of intake-esm being unable to open datasets when using dask's threaded scheduler. The issue is manifested in an error message along these lines:

[code]

This error goes away when one switches to the distributed scheduler. We should investigate and fix this issue.

[2021-06-24 18:50] dcherian commented on #343
Are you calling not calling `sorted` on a `glob.glob` call somewhere?

[2021-06-24 19:10] andersy005 commented on #343
Nope... we use whatever order the files appear in the catalog. I used to deal with this issue by properly sorting files while building the catalogs.

[2021-07-22 13:43] Recalculate commented on #157
Trying the new merge_variable approach, I get the warning:

`/srv/conda/envs/notebook/lib/python3.8/site-packages/cmip6_preprocessing/postprocessing.py:122: UserWarning: ScenarioMIP.CCCma.CanESM5.ssp585.r10i1p2f1.Omon.gn.v20190429 failed to combine with :Unrecognised value for combine_attrs=drop_conflicts`

for each filename (filename changes for each warning obviously).  This means that I get an

[2021-08-03 10:08] wachsylon opened #350 "Dask chunk sizes and different data access methods"
Hi,
I appreciate intake a lot and provide catalogs for climate data of the German Climate Computing Center.
I have two questions:
1. Is it possible to set the size of `chunks` that dask will be using for the function `to_dataset_dict` in the catalog descriptor? The data that our catalogs describe is in netCDF format. When `chunks` is not specified in the function arguments, dask sets the chunks si

[2021-08-03 16:43] andersy005 commented on #350
@wachsylon,

Have you tried passing passing `cdf_kwargs` to `to_dataset_dict()`... Something along these lines

[code]

I expect this to work. Under the hood intake-esm figures out whether a file is on a regular posix filesystem or some remote filesystem. Here's a catalog example that exposes both the openDAP URLs and the local paths:

[code]

If you take a peek at the JSON file, you see this sect

[2021-08-04 07:20] wachsylon commented on #350
@andersy005 Thanks for the quick answer.

Yes, this works but I would like to set the `chunks` kwargs as default in the `.json` of the catalog. However, if I try to do so like:
[code]
, `xarray` sets the kwargs in `concat` or `merge` where `chunks` is unknown.

Thanks for this idea, that is a good hack.

This is what I did. Is it possible somehow to have a master `.json` which contains pointers to

[2021-08-04 08:52] wachsylon commented on #350
For the second point, I figured it out:

[code]

[2021-08-05 14:20] wachsylon commented on #350
@andersy005

Is it possible to add
"cdf_kwargs":{"chunks":{"time":1}}
anyhow in the esm_collection `.json` file?

[2021-08-05 14:25] wachsylon opened #351 "Allow collection to be on file while data is in the cloud"
When using an esm_collection from file system:

`intake.open_esm_datastore('/home/dkrz/k204210/intake-esm/esm-collections/dkrz_era5_disk_grb_fromcloud.json')`

with url as `catalog_file` entry value:

[code]
results in
[code]

I think there is no reason why this should not work.

[2021-08-05 14:41] andersy005 commented on #351
@wachsylon, I concur with you. This is a bug in `_fetch_catalog` function, and we should relax some of the assumptions made in this function

https://github.com/intake/intake-esm/blob/3092400e7797975ba22795e880385514529ba9ce/intake_esm/utils.py#L64

I am happy to look into it, but if you have time and are interested in working on it, please feel free to submit a PR :)

[2021-08-05 14:53] andersy005 commented on #350
Allowing to **globally** define chunks in the catalog json file would result in issues due to the fact a catalog can point to files with variables with different dimensions names. For instance, using a global chunking scheme of `{'time': 10, 'lat': 90}` when the catalog has files that don't have the time dimension and/or some files `lat` dimension is named `latitude` would just break the data load

[2021-08-06 12:34] wachsylon commented on #350
Ups, I missed that.

I want to have your end-users... :)

I see, its not a intake issue. I found this issue which relates to my problem:
https://github.com/pydata/xarray/issues/1440

To use only one chunk for the variable array of an entire file is too large.  I think more reasonable would be to use the chunk sizes that were given in the original netCDF file.

[2021-08-06 12:34] #350 closed

[2021-08-06 21:58] mgrover1 opened #352 "Add functionality to dictionary output by .to_dataset_dict()"
Create a custom dict like object, which has the following additional methods:
- map - maps functions to all datasets in dictionary
  - If you don't specify the keys, apply to everything
  - if given keys, apply to certain keys

Additional attributes
- query that produced datasets
- original catalog

[2021-08-07 00:20] andersy005 opened #353 "`esm_datastore_v2`: A rewrite of `esm_datastore` with new features + improvements"
# TO DO

-  Introduce pydantic models that allow us to validate the catalog against a pre-defined schema. This has the potential of reducing code complexity in the existing `esm_datastore` catalog object.
    - [x] #347
    - [x] https://github.com/intake/intake-esm/pull/367
- Public methods to expose (https://github.com/intake/intake-esm/pull/368)
	- [x] `__init__`
	- [x] `__len__`
	- [x] `__geti

[2021-08-17 22:23] mgrover1 opened #357 "Add a DerivedCatalog object to deal with derived variables"
Similar to the development in [esds-funnel](), we think it would be useful to be able to add "derived variables" to a catalog, accessible via an api similar to this:

[code]

[2021-08-17 22:32] mgrover1 commented on #357
The result (with adding an `SST` variable), would be:
<img width="1154" alt="Screen Shot 2021-08-17 at 4 32 15 PM" src="https://user-images.githubusercontent.com/26660300/129809309-ada0090d-da07-4395-bead-16d999215f85.png">

[2021-08-23 13:16] singh-shikha commented on #224
Hi,

I am a very new user of Pangeo. I started today itself and have ran in this issue. Here is the screenshot of error and kernel details:
![image](https://user-images.githubusercontent.com/18552910/130453681-d709261b-668d-4cc9-9df7-4285e4e828dd.png)

![image](https://user-images.githubusercontent.com/18552910/130453493-622032dd-e03a-4b3e-9fed-e8bf1a75f346.png)
![image](https://user-images.github

[2021-10-14 12:07] mickaellalande commented on #66
Is ERA5 reanalysis accessible through intake? Is there an example in the documentation of how to access it?

[2021-10-14 16:54] andersy005 opened #378 "Computing unique values in an empty catalog results in an error"
### Description

Computing unique values in an empty catalog result in an error. We should add a check for an empty dataframe to ensure we return an empty data frame early.

### What I Did

[code]

<details>

Traceback:

[code]

</details>

Relevant lines: https://github.com/intake/intake-esm/blob/ad175fa95af7c415760a3b2669939e399c13645c/intake_esm/_types.py#L275

[2021-10-14 23:54] andersy005 opened #380 "Support datasets that use ReferenceFileSystem (fsspec-reference-maker)"
This idea came out of conversations with @jbusecke and @mgrover1. Some folks have started creating zarr-like datasets from netCDF files using https://github.com/intake/fsspec-reference-maker. Seems it would be cool to allow folks to catalog these datasets and load them into xarray via intake-esm.

[2021-10-15 03:14] andersy005 opened #382 "Use `Collection` object implementation from NCAR/xcollection in intake-esm"
A few weeks ago, we experimented with [`Collection`](https://github.com/NCAR/xcollection), which provides a high-level mapping of name/key to Xarray.Datasets. The `xcollection.Collection` class is a dict-like class. It subclasses `collections.abc.MutableMapping` and provides additional functionality like
- `.map()`: applies a function to each dataset in the collection.
- `.choose()`: returns a col

[2021-10-18 17:25] andersy005 opened #384 "Serialization/Deserialization of derived variable catalog"
https://github.com/intake/intake-esm/pull/379 introduced "variable derivation" via a registry of decorated functions. One of the missing features of the derived variable catalog is serialization/deserialization.

[2021-10-19 11:20] agstephens opened #385 "Can "*.nc" patterns be supported?"
**Is your feature request related to a problem? Please describe.**

I would like to be able to include glob patterns (`"*.nc"`) in the paths of my Intake-esm catalogs. At present, the code uses `xr.open_dataset()` to open netcdf files. I have cases in which the Intake catalog is on a POSIX file system so it is reasonable to provide the data path as `"/foo/baa/*.nc"` and the code could use `xarray`

[2021-10-19 22:31] andersy005 commented on #385
@agstephens, 100% agree it would be useful to support this use case. If you have time, feel free to take a look at the _improved_ `_open_dataset` function on the main branch in https://github.com/intake/intake-esm/blob/aaa71db20bc768d5569ca7bcb1c3c27c6d3499ef/intake_esm/source.py#L34-L45

A PR is welcome :) No pressure though (I'm happy to look into this).

[2021-10-22 17:33] andersy005 opened #387 "Add ability to produce derived variables without error only when dependent variables exist"
Currently, Intake-ESM's derived variable implementation will throw an exception when the dependent variables needed to produce a derived variable are missing from a dataset. We need to implement a mechanism to allow Intake-ESM to proceed without error when the dependent variables are not present.

[2021-10-22 17:33] andersy005 opened #388 "Add "query range" to Intake-ESM derived variables"
Need to add the ability to apply derived variable computations to only a subset of the catalog (i.e., "query ranges")

[2021-10-26 17:04] #388 closed, assigned to nobody

[2021-10-26 19:17] #387 closed, assigned to nobody

[2021-10-26 20:06] #378 closed, assigned to nobody

[2021-11-02 11:09] agstephens commented on #385
Hi @andersy005, I got the tests running and have created the PR here: #393. Many thanks.

[2021-11-11 06:04] #198 closed

[2021-11-22 14:44] d70-t opened #401 "addition of `esm_datastore.to_dask()`"
**Is your feature request related to a problem? Please describe.**
I often encounter the situation where my `search` on intake-ESM returns a result which is representable by a single dataset. I know that this is the case, because I craft my search in a way that this will be the case. However, extracting out the single dataset from the return value of `to_dataset_dict()` is always a bit lengthy.

*

[2021-11-22 14:57] andersy005 commented on #401
Since you know that your search will result in a single dataset, have you tried accessing the `key` in question and calling `.to_dask()` on this key?

[code]

[2021-11-22 15:04] d70-t commented on #401
Thanks for getting back so quickly!

I didn't. In stead I used something like:
[code]
which is a little bit longer, but doesn't require calling out `cat` twice and thus is simple to use in some places.

---

The goal I want to achieve ist to shorten the amount of code to write a bit. I.e. I would like to write something like:

[code]
in stead of:
[code]
which seems to be a bit redundant.

[2021-11-22 15:19] andersy005 commented on #401
@d70-t, this would a reasonable, straightforward addition. Would you be interested in submitting a pull request?

[2021-11-23 16:00] d70-t opened #404 "Overview chapter in User Guide fails to build (unique takes no arguments)"
The [overview](https://intake-esm.readthedocs.io/en/latest/user-guide/overview.html#finding-unique-entries-for-individual-columns) page in the latest user guide fails with a `TypeError`.
The same error happens in the [CMIP6 tutorial](https://intake-esm.readthedocs.io/en/latest/user-guide/cmip6-tutorial.html#finding-unique-entries)

The `unique` function seemingly doesn't accept any parameters. I d

[2021-11-23 16:03] andersy005 commented on #404
Thank you for looking into this!

This is a bug in the docs. The API changed and the docs need to be updated to reflect this.

[2021-11-24 18:10] mgrover1 opened #407 "Update Documentation"
Based on conversations regarding the recent changes, and user feedback, it would be good to do a review of our current documentation, finding areas for improvement. Examples include:
- [x] Add a "how to build a catalog"
- [ ] What is intake-esm doing with my data?
- [ ] What is a dictionary of datasets/collection?
- [x] How do I add a derived variable?
- [ ] How to disable aggregations in `to_data

[2021-11-24 18:24] mgrover1 commented on #407
Related ESDS blogs
- ["Using Intake-ESM’s New Derived Variable Functionality" ](https://ncar.github.io/esds/posts/2021/intake-esm-derived-variables/)
- ["CESM2-LE Reproduction of Kay et al. 2015"](https://ncar.github.io/esds/posts/2021/kay-et-al-cesm2-le/)
- ["Reimagining Diagnostics Through the Use of the Jupyter Ecosystem"](https://ncar.github.io/esds/posts/2021/jupyter-based-diagnostics-overvie

[2021-11-24 18:51] #401 closed

[2021-11-24 19:03] mnlevy1981 commented on #407
I'm working on a branch to address the

tickbox. There's already a a question about it in [the FAQ](https://intake-esm.readthedocs.io/en/latest/supplemental-guide/faq.html#how-do-i-create-my-own-catalog), though the answer is more of a non-answer... so I was going to start by updating that page with step-by-step instructions. Is that sufficient, or should there be a new page elsewhere in the docs

[2021-11-24 19:07] andersy005 commented on #407
I think a notebook in `docs/source/user-guide` would suffice for the time being. We shall figure out where this belongs when we rearrange the docs...

[2021-11-25 19:30] #325 closed

[2021-11-28 20:44] #382 closed

[2021-12-01 19:27] andersy005 commented on #385
Addressed in #395

[2021-12-01 19:27] #385 closed

[2021-12-02 14:52] andersy005 commented on #384
#386 added functionality for loading a registry from a Python module and this seems to suffice for the time being. The serialization feature doesn't seem to be necessary. We can revisit the serialization of a registry to a Python module at a later time.

[2021-12-02 14:52] #384 closed

[2021-12-14 21:23] aulemahal opened #414 "Mixed formats in catalog"
**Is your feature request related to a problem? Please describe.**
I work at a climate service provider. We do most of our work on local servers and a lot of the data is local. We want to use `intake_esm` to handle these in-house datasets, at two levels : the organisation-level and the project-level. Having a somewhat clean catalog at the project level is possible, but it is a complicated task at

[2021-12-14 21:47] andersy005 commented on #414
I'd like this to be reflected in intake_esm.

👍🏽 . The current behavior is definitely a bug which was introduced in https://github.com/intake/intake-esm/pull/368. We should be able to alter `Assets` to ensure that `format` and `format_column_name` are mutually exclusive as mentioned in the SPEC.

https://github.com/intake/intake-esm/blob/e24e39ced1128f1b7cbc1edf9d467b1b8e301940/intake_esm/cat.py#L

[2021-12-14 21:52] aulemahal opened #415 "Allow subclassing `esm_datastore`"
**Is your feature request related to a problem? Please describe.**
In the workflow I am building, which takes the form a package, I want to extend the `esm_datastore` class with some quite specific functionalities. Mostly things that don't really make sense in `intake_esm` directly. However, when subclassing `esm_datastore`, a call to  `search` returns a `esm_datastore` object because the class is

[2021-12-14 21:53] aulemahal commented on #414
I have time to work on this, I can try to come up with a PR quite soon.

[2021-12-14 22:13] andersy005 commented on #414
Awesome!

I think the necessary changes are straightforward:

1. Make `format` an optional argument in `Asset`
2. Update the validator to ensure that either `format` or `format_column_name` is set to a valid value: https://github.com/intake/intake-esm/blob/e24e39ced1128f1b7cbc1edf9d467b1b8e301940/intake_esm/cat.py#L52-L57
3. Ensure the right code path is taken in `ESMDataSource` when `format_colum

[2021-12-14 22:19] andersy005 commented on #415
Sorry to hear about this complication introduced by the `DerivedVariable` registry functionality... The `DerivedVariable` registry functionality is a little finicky/fragile for the time being. So, I think your proposed change is reasonable and would welcome a PR.

[2021-12-14 22:58] #404 closed

[2021-12-14 23:25] aulemahal commented on #415
I really like the `DerivedVariable` feature, so I didn't mean this as a critic! The complexity it introduces simply justifies the suggested change. PR coming real soon.

[2021-12-15 19:20] #415 closed

[2021-12-15 19:21] #414 closed

[2021-12-15 22:48] aulemahal opened #418 "Allow existing coordinates on "join_new""
**Is your feature request related to a problem? Please describe.**
Ok so this one is a bit more complex, and may be too specific to be implemented here. I'll let you decide. In my database, there are some files where "member_id" is a dimension and some others where it's not. I want to have "member_id" in the catalog for searches and I want to be able to aggregate the output so that `member_id` is

[2021-12-16 18:18] aulemahal opened #419 "Option to write uncompressed catalogs"
**Is your feature request related to a problem? Please describe.**
The default csv file written by `cat.serialize` is compressed with `gzip`. This is quite cool for large catalogs, but it looses some interoperability with low-level editing tools (text editors) as it's now a binary file.

**Describe the solution you'd like**
An option to control the compression of the catalog file. It could even be

[2021-12-16 18:22] aulemahal commented on #419
EDIT: In face, there could simply be a `**csv_kwargs` passed directly to `df.to_csv`?
I am ok with changing the default value of `compression` and injecting `index=False`, I just think it could be interesting to have finer control.

[2021-12-16 18:52] andersy005 commented on #419
👍🏽

How about adding a `to_csv_kwargs` argument to

https://github.com/intake/intake-esm/blob/40fe3a7808c14af77d96cfc932b9cebaa6beba10/intake_esm/core.py#L362-L367

and passing these keyword arguments down to

https://github.com/intake/intake-esm/blob/40fe3a7808c14af77d96cfc932b9cebaa6beba10/intake_esm/cat.py#L118

?

[2021-12-17 20:14] #419 closed

[2021-12-20 18:25] jukent commented on #407
I'm going to start working on "What is intake-esm doing with my data?"

[2021-12-21 15:12] andersy005 commented on #344
This issue should be fixed in the next release

[2021-12-21 15:12] #344 closed

[2021-12-21 20:59] aulemahal opened #427 "Searching with derived variables is broken"
Here's a quick checklist in what to include:

- [x] Include a detailed description of the bug or suggestion
- [x] Output of `intake_esm.show_versions()`
- [x] Minimal, self-contained copy-pastable example that generates the issue if possible. Please be concise with code posted. See guidelines below on how to provide a good bug report:

  - [Minimal Complete Verifiable Examples](https://stackoverfl

[2021-12-21 21:08] andersy005 commented on #427
yes, please 🎉...

[2022-01-11 18:39] andersy005 commented on #343
This is now being taken care of here:

https://github.com/intake/intake-esm/blob/7143af48c67e347ae74db1305b0a0ce481fc9587/intake_esm/source.py#L230-L236

This ensures that the datasets are sorted before applying the aggregations.

[2022-01-11 18:39] #343 closed

[2022-01-11 19:08] #427 closed

[2022-01-12 15:46] andersy005 commented on #352
This has been implemented in https://github.com/NCAR/xcollection and https://github.com/intake/intake-esm/pull/405

[2022-01-12 15:46] #352 closed

[2022-01-18 20:39] aulemahal opened #434 "`require_all_on` fails with iterables"
Here's a quick checklist in what to include:

- [x] Include a detailed description of the bug or suggestion
- [x] Output of `intake_esm.show_versions()`
- [x] Minimal, self-contained copy-pastable example that generates the issue if possible. Please be concise with code posted.

### Description
When searching a catalog with a query that includes columns storing iterables and specifying `require_al

[2022-01-18 21:40] aulemahal opened #436 "`require_all_on` fails with a derived variable reigstry"
**

Here's a quick checklist in what to include:

- [x] Include a detailed description of the bug or suggestion
- [x] Output of `intake_esm.show_versions()`
- [x] Minimal, self-contained copy-pastable example that generates the issue if possible. Please be concise with code posted.

### Description
When searching a catalog that has a derived variable registry and specifying `require_all_on`, the o

[2022-01-27 22:32] kmpaul opened #437 "Expose Intake-ESM test data for download"
**Is your feature request related to a problem? Please describe.**
Understanding and learning intake-esm could be made much easier if the user had a sample dataset and catalog to reference.  It doesn't have to be "real" in any sense.  It could just be an example dataset, but I think there are pared down datasets in the `tests` directory of this repository that might fit the bill.  But I think it w

[2022-01-28 01:19] andersy005 commented on #437
I like this idea... A pull request is definitely welcome :)

[2022-01-28 13:45] kmpaul commented on #437
Absolutely. If I find time, I will. We can keep this here as a record of the idea.

[2022-02-01 21:59] #434 closed

[2022-02-01 23:01] jukent commented on #437
I started this in PR #443. Could someone look and let me know if they think I'm going down the right path? @kmpaul

[2022-02-02 22:29] andersy005 commented on #437
@jukent, here are some of the intake examples packaged as conda packages: https://github.com/intake/intake-examples

[2022-02-03 23:24] jukent commented on #437
@andersy005 during yesterday's meeting you suggested that this might not be the best method. Could you repeat your points here? What are all of our options?

[2022-02-10 16:43] wachsylon opened #444 "intake server leads to ERROR: KeyError('xarray')"
### Description

I tried out the intake-server. In the end, I would like to have a server for some or all cats of:
https://swiftbrowser.dkrz.de/public/dkrz_a44962e3ba914c309a7421573a6949a6/intake-esm/
The entry catalog is
`dkrz_data-pool_cloudcatalog.yaml`

I started the server from the same environment as from where I did client commands. I installed intake_xarray as well.

Do you have an idea wh

[2022-02-10 19:23] aulemahal opened #445 "Don't include dependents when filtering the derived variable registry"
Here's a quick checklist in what to include:

- [x] Include a detailed description of the bug or suggestion
- [x] Output of `intake_esm.show_versions()`
- [x] Minimal, self-contained copy-pastable example that generates the issue if possible. Please be concise with code posted. See guidelines below on how to provide a good bug report:

  - [Minimal Complete Verifiable Examples](https://stackoverfl

[2022-02-10 20:10] #445 closed

[2022-02-10 20:14] andersy005 commented on #444
Thank you for the reproducible example, @wachsylon! I will look into this and will get back to you

[2022-02-15 14:08] wachsylon commented on #444
@andersy005 thank you i appreciate it.

[2022-02-15 20:53] RondeauG opened #447 "esm_datastore keeps catalog_file in memory after a search()"
### Description

When I used `intake_esm` last year, manipulations such as `esm_datastore.search()` used to drop the `catalog_file` attribute. However, now that this information is stored in `esmcat`, it gets copy-pasted after a `search` alongside everything else.

https://github.com/intake/intake-esm/blob/main/intake_esm/core.py, line 360:
[code]

Is this an intended change or a bug?

### What I

[2022-02-15 22:34] kmpaul commented on #437
@andersy005:  That `intake-examples` repo is a good model for this.

@jukent:  If you can follow the logic in that repo, that might be a good approach to writing an `intake-esm-examples` module.

[2022-02-16 18:06] jukent commented on #437
@kmpaul @andersy005 It looks to me like that repo just houses the data -- and then in each tutorial notebook they point to the data catalog directly with the url. Am I missing something?

[code]

[2022-02-16 21:35] kmpaul commented on #437
@jukent:  I think @andersy005 recommended looking at this repository because it demonstrates (or appears to) how to make downloadable data and corresponding catalogs work from an installable package.  If you look at the `README.md` [here](https://github.com/intake/intake-examples/tree/master/data_package), it suggests that by constructing the `pip` installable package with the appropriate `entry_p

[2022-02-16 22:46] andersy005 commented on #437
The [data-us-states](https://github.com/intake/intake-examples/tree/master/data-us-states) package is a much better example. It's serving data hosted in this [repository](https://github.com/CivilServiceUSA/us-states). So, when user installs the `data-us-states` package, they end up with the contents of the GitHub repository in their conda environment. I realize that getting this to work in the con

[2022-02-21 17:35] wachsylon commented on #444
@andersy005
Do you have found sth? It would be really helpful as it is a blocker for me.
Thanks in advance!

[2022-02-21 22:40] aulemahal opened #448 "Drop non-requested variables from datasets"
**Is your feature request related to a problem? Please describe.**
When using the catalog with a derived variable registry and calling `to_dataset_dict`, all variables that were needed for the derived variable computation are in the final datasets, even if they were not requested directly.

**Describe the solution you'd like**
In the following imaginary example, say we have datasets for `tasmin`,

[2022-02-22 20:19] RondeauG commented on #448
There is already a `dependents` variable created during the `search()` function, but it gets merged into `_requested_variables` and the information is lost afterwards.

Would it be a realistic solution to decouple `_dependents_variables` and `_requested_variables`, using both when necessary, and then only keep the `_requested_variables` for the final output?

[2022-02-22 22:17] andersy005 commented on #444
Thank you for your patience, @wachsylon! Unfortunately, I haven't had time to look into the root cause of this issue.

[swiftbrowser.dkrz.de/public/dkrz_a44962e3ba914c309a7421573a6949a6/intake-esm](https://swiftbrowser.dkrz.de/public/dkrz_a44962e3ba914c309a7421573a6949a6/intake-esm/)

I'm curious.... What are the benefits of exposing these catalogs via an intake-server instead of a regular top-lev

[2022-02-23 14:21] andersy005 commented on #444
Thank you for the clarification/details, @wachsylon! I haven't used the intake-server before. From my short experimentation, it appears that there are some things that are missing within intake-esm to allow seamless integration with the intake-server I'll do my best to find time to look into this today/tomorrow.

[2022-03-01 17:16] wachsylon commented on #444
Any news on that?

sounds bad :(

[2022-03-02 17:11] andersy005 commented on #444
Serving intake-esm catalog and assets via intake-server will require rewriting some of the components of intake-esm. Unfortunately, my schedule is too tight and I don't have time to look into this extensively any time soon but I'd be happy to review pull requests if someone is interested in pursuing this...

[2022-03-03 12:37] wachsylon commented on #444
Ok thanks for letting me know!
And thanks a lot for your help!

[2022-03-08 10:08] wachsylon commented on #66
@andersy005

I made one for dkrz era5 data which is on our HPC's disk storage. That means, it also only works on Mistral.

[code]
should work.

However, it is based on raw `grb` data and `intake-esm` does not really support `grb`. We would need a default engine [here](https://github.com/intake/intake-esm/blob/40fe3a7808c14af77d96cfc932b9cebaa6beba10/intake_esm/source.py#L18) for grib. The one i us

[2022-03-08 13:34] andersy005 commented on #66
@wachsylon, I concur. We should expand the specification to allow intake-esm catalogs to contain `grib`: https://github.com/intake/intake-esm/blob/main/docs/source/explanation/esm-collection-spec.md#assets-object

[2022-03-08 13:40] andersy005 opened #452 "Extend the ESM collection specification to support catalogs containing datasets in GRIB format"
**Is your feature request related to a problem? Please describe.**

Currently, the only valid data formats supported by intake-esm are `netcdf` and `zarr`. As a result, it's not possible to use intake-esm when working with datasets in grib format.

**Describe the solution you'd like**

We should consider extending the esm collection specification: https://github.com/intake/intake-esm/blob/main/doc

[2022-03-08 13:41] andersy005 commented on #66
@wachsylon, I opened an issue for this: https://github.com/intake/intake-esm/issues/452

[2022-03-11 12:44] wachsylon commented on #407
Hi everyone,
fyi, I also provide some tutorials [here](https://data-infrastructure-services.gitlab-pages.dkrz.de/tutorials-and-use-cases/index.html) for dkrz catalogs. I also cover *how to merge two catalogs*.

Can I contribute with one of those? Do you know about activities for defining name templates for catalogs and a registry for catalogs?

Best,
Fabi

[2022-03-11 17:06] #437 closed

[2022-03-11 19:19] jukent opened #456 "Update Documentation to use new tutorial.py module for grabbing catalog URLs"
We now have curated small catalogs in the `tutorial-catalogs` directory from #454 and #455 that can be called via `intake_esm.tutorial.get_url()`. The documentation should be updated to use this method for some demonstrations.

In the same effort, the documentation can be updated to use "catalog" consistently (without misnamed references to "collections").

[2022-03-17 14:47] matt-long opened #461 "Add method to return information about catalog.keys()"
The keys returned by `catalog.keys()` point to unique datasets in an intake-esm catalog (if queries are constructed using only the `catalog.groupby_attrs`). I have found it useful in some circumstances to get the values of the fields used to construct the keys; rather than a parsing the key string itself, I think this merits a method and wonder whether this should be part of intake-esm.

Here's a

[2022-03-18 13:51] wachsylon opened #462 "Load only those columns which are defined in the catalog description"
Here is an idea if the underlying Dataframe is based on a `catalog_file` and in case it is opened and loaded with pandas `read_csv`.

**Is your feature request related to a problem? Please describe.**
The catalog file of a catalog can be very large and contain many columns. It quickly fills user memory when the dataframe is loaded.

**Describe the solution you'd like**
pandas `read_csv` allows to

[2022-03-24 20:22] jukent opened #465 "Change `cat.serialize()` description"
Currently the `catalog.serialize()` method sets the description as "This is an ESM collection ... ", when "This is a ESM catalog ..." would be more appropriate.

Not sure yet if this is a fix here or upstream on `intake`. I don't see where it would be changed in https://github.com/intake/intake-esm/blob/a5c6ef02e217bf9fecca7efbf0139fe9f726d14d/intake_esm/core.py#L377

[2022-03-24 20:30] andersy005 commented on #465
https://github.com/intake/intake-esm/blob/5d26293bce2d4981fa9cf130742d1530c6c3cb0b/intake_esm/cat.py#L124 is another relevant method. This is where the actual serialization happens.

[2022-03-24 20:33] andersy005 commented on #465
I think this is being copied from the parent catalog. The existing code doesn;t modify the `description` JSON field (I believe).

[2022-03-24 20:40] #456 closed

[2022-03-24 21:14] jukent commented on #465
The description is most likely a legacy issue and not a coding one. My workflow was subsetting a catalog and then serializing that catalog -- and this description is probably copied from the original catalog. So maybe I should edit the text in the original catalogs or ignore.

[2022-04-08 13:19] juliettelavoie opened #470 "Not writting the path in the global attrs"
**Is your feature request related to a problem? Please describe.**

When calling `to_dataset_dict` on a single file, all the columns are written in the global attrs. Hence, I end up with the path in the dataset and I need to remove it manually before sharing my files publicly with that sensitive information. I personally don't see any benefits to having the path in the global attrs and I think mos

[2022-04-13 18:33] jukent commented on #465
###

[2022-04-13 18:33] #465 closed

[2022-04-19 19:28] RondeauG opened #474 "Only add attributes if they have a value associated to them"
**Is your feature request related to a problem? Please describe.**
I'm using a catalog for multiple dataset types (climate simulations, reanalyses, etc.). This means that for most models, not all columns will have a value associated to it. For example, ERA5 has no 'experiment_id', CMIP6 data has no 'driving_model_id', etc.

When I open a dataset using `.to_dataset_dict()` it will copy-paste the en

[2022-05-17 02:33] tanthiamhuat commented on #224
restart Python kernel.

[2022-05-18 20:42] brink395 opened #477 "Attribute error: open_esm_datastore"
Hi, I am trying to use this code:
cat_url = "https://storage.googleapis.com/cmip6/pangeo-cmip6.json"
col = intake.open_esm_datastore(cat_url)
col

I get the error: AttributeError: open_esm_datastore

Has this issue been addressed?

[2022-05-18 21:06] brink395 commented on #477
Created a new clean environment and this fixed the problem.

[2022-05-27 20:42] yxing6 opened #479 "Cannot obtain result from activity_id "VolMIP""
### Description

Cannot find results when filter with `activity_id="VolMIP"` and/or `experiment_id="volc-pinatubo-full"`.
While these experiments can be found on the CMIP6 search webpage https://esgf-node.llnl.gov/search/cmip6/, they do not seem to exist in intake-esm's database.

### What I Did

[code]

I also verified that `VolMIP` and `volc-pinatubo-full` are indeed not included in return resul

[2022-06-02 23:08] dcherian opened #481 "broken example in documentation"
The last cell here is raising an error: https://intake-esm.readthedocs.io/en/stable/user-guide/search.html#enforce-query-criteria-via-require-all-on-argument

[2022-06-04 04:27] #380 closed

[2022-06-28 12:27] utterances-bot opened #487 "en/stable/user-guide/search"
# Search and Discovery

[https://intake-esm.readthedocs.io/en/stable/user-guide/search.html](https://intake-esm.readthedocs.io/en/stable/user-guide/search.html)

[2022-06-28 12:27] MackenzieBlanusa commented on #487
Is there a bug with the require_on_all argument? Your documentation shows an error and I get the same error when trying to use the argument. This argument would be very useful for me in data discovery, can we try to resolve the issue?

[2022-06-29 11:53] MackenzieBlanusa commented on #487
@andersy005 Great, thank you! I'll install via the main branch for now.

[2022-07-14 15:58] aulemahal opened #490 "Attributes added by intake-esm contain invalid characters for netCDF"
intake-esm creates global attributes based on the catalog. By default, they follow the format: intake_esm_attr/(x). While the first part of the "path" is customizable (#460), the separator character "/" is not.  However, it is an illegal character when writing netCDF files (it is valid for zarr datasets though).

Would it be reasonable to have this character:
- changed to something legal ("_", "-"

[2022-07-14 19:33] andersy005 commented on #490
@aulemahal, if you have time, a PR is welcome :)

[2022-07-14 20:41] aulemahal commented on #490
Test:
[code]
Prints:

<details>

[code]

</details>

It really looks like the '/' is the only character that netCDF4 doesn't support. While I'm not suggesting using the banjo 🪕, it shows that the UTF8 support is quite good.

I like `:` and the `\`, but the latter is slightly harder to write because you need to escape it `'\\'`.

I might have time for a PR. I'll want to tackle a few other attribute

[2022-07-25 00:24] MaxThomas90 opened #491 "intake: can't access several variables from cmip6 archive"
Hello,
I've noticed several variables are available to download from ESGF that cannot be accessed via the pangeo tools. I'm not sure if I'm doing something wrong, if this is by design, or if there's an issue to flag. I've put a short example below:

I need to access variable_id=sidmassth, source_id=HadGEM3-GC31-LL, experiment_id=ssp585, table_id=SImon
Looking on the ESGF archive I can see that the

[2022-07-25 05:37] andersy005 commented on #491
@MaxThomas90, this is not an intake-esm issue per se. The Pangeo-CMIP6 archive is a subset of the CMIP6 data hosted on the ESGF nodes. To request for additional data to be added to the Pangeo-CMIP6 archive, i recommend opening an issue here: https://github.com/pangeo-data/pangeo-cmip6-cloud/issues

[2022-07-30 15:33] MaxThomas90 commented on #491
Thanks. I've opened an issue there.
Max

On Mon, Jul 25, 2022 at 5:37 PM Anderson Banihirwe ***@***.***>
wrote:

[2022-08-04 16:04] ollie-bell opened #495 "cmip6 tutorial to_dataset_dict doesn't work for AWS s3"
When running the cmip6 tutorial (https://intake-esm.readthedocs.io/en/stable/user-guide/cmip6-tutorial.html) replacing `url = "https://storage.googleapis.com/cmip6/pangeo-cmip6.json"` with `url = "https://cmip6-pds.s3.amazonaws.com/pangeo-cmip6.json"`, the call to `to_dataset_dict` fails with the following error message:

[code]

output of `intake_esm.show_versions()`:

[code]

[2022-08-04 18:10] ollie-bell commented on #495
possibly related to #301 ?

[2022-08-04 18:12] andersy005 commented on #495
@ollie-bell, i believe the issue may have to do with credentials. when you get a chance, can you try the following

[code]

This assumes you are using the main branch of intake-esm.

[2022-08-04 18:14] andersy005 commented on #495
i'm noticing some weird behavior in the resulting dataset. The `dcpp_init_year` dimension has a `nan` value which I think should not be there (most likely a bug in intake-esm).

[code]

[2022-08-04 19:36] ollie-bell commented on #495
Thanks @andersy005 that suggestion did help. The tutorial works now when using s3 instead of gcs.

However, I am intermittently running in to issues using a different catalogue. The dataset download seems to get stuck on a specific zstore (see attached image).

Any ideas how to diagnose what the problem might be with this specific zstore? The [actual store in gcs does exist](https://console.cloud.

[2022-08-04 19:47] andersy005 commented on #495
how are you calling `.to_dataset_dict()`?

for gcs, you should be using `token: 'anon'`, I believe

[code]

[2022-08-04 20:09] andersy005 commented on #495
by the way, thank you for your patience and for reporting this issue. It's been a while since our last release of intake-esm, and it's nice to have these bug/enhancement reports as we prepare to cut a new release.

[2022-08-05 15:44] ollie-bell commented on #495
@andersy005 yes I have used it with `"token": "anon"`... but still having issues when trying to load datasets at a larger scale than in the tutorial.

For example, following https://intake-esm.readthedocs.io/en/latest/tutorials/index.html but replacing `url = intake_esm.tutorial.get_url('google_cmip6')` with `url = "https://storage.googleapis.com/cmip6/pangeo-cmip6.json"` and also removing `table_

[2022-08-05 18:13] ollie-bell commented on #495
@andersy005 Not to worry, pretty sure I have figured my issue... I think it's related to the ESM Catalog aggregations just not being suitable for every dataset I'm trying to load.

I'll close this now as the original issue was diagnosed as me not using `storage_options` in `backend_kwargs` correctly. Below is an explanation of what I think the remaining problem I was having is for anyone else who

[2022-08-05 18:13] #495 closed

[2022-08-08 11:07] ollie-bell opened #496 "deepcopy forgets manual changes to catalog dataframe"
### Description

Using `aggregate=False` in `esm_datastore.to_dataset_dict()` triggers a [deepcopy](https://github.com/intake/intake-esm/blob/bc54ed5dca9088be48bb7801e21aedb39c5d342e/intake_esm/core.py#L583) of the object. For whatever reason, this forgets any manual changes made to the dataframe by updating `cat.esmcat._df` (e.g. [as recommended in the documentation here](https://intake-esm.readt

[2022-08-11 09:54] seismo2112 commented on #160
I tried the same command but it displayed this error (in the end). Can you please look out at it?

 python -m pip install git+https://github.com/NCAR/intake-esm.git
Collecting git+https://github.com/NCAR/intake-esm.git
  Cloning https://github.com/NCAR/intake-esm.git to /tmp/pip-req-build-5f00gvb6
  Running command git clone -q https://github.com/NCAR/intake-esm.git /tmp/pip-req-build-5f00gvb6
  R

[2022-08-11 09:54] seismo2112 commented on #160
I tried the same command but it displayed this error (in the end). Can you please look out at it?

python -m pip install git+https://github.com/NCAR/intake-esm.git
Collecting git+https://github.com/NCAR/intake-esm.git
Cloning https://github.com/NCAR/intake-esm.git to /tmp/pip-req-build-5f00gvb6
Running command git clone -q https://github.com/NCAR/intake-esm.git /tmp/pip-req-build-5f00gvb6
Resolved

[2022-08-11 15:34] andersy005 commented on #160
@pochedls,

as the error points out, you need to have Python >=3.8 and it looks like you are using Python 3.7. If you don't mind upgrade, i recommend upgrading your python version

[code]

[2022-08-19 17:57] mgrover1 opened #506 "To Dataset Dict failing with CESM2-LE Example"
Here's a quick checklist in what to include:

- [x] Include a detailed description of the bug or suggestion
- [x] Output of `intake_esm.show_versions()`
- [x] Minimal, self-contained copy-pastable example that generates the issue if possible. Please be concise with code posted. See guidelines below on how to provide a good bug report:

  - [Minimal Complete Verifiable Examples](https://stackoverfl

[2022-08-19 20:33] andersy005 commented on #506
Does

[code]

work for you? With the new backend entrypoint, the storage options can be passed as part of the backend Kwargs....

[2022-08-19 20:39] mgrover1 commented on #506
That did the trick! I have a feeling this will break quite a few workflows... I wonder if we should allow the same API for storage options?

[2022-08-22 18:55] andersy005 commented on #506
I concur... i'm going to look into this, and thank you for reporting this issue.

[2022-08-22 19:48] #506 closed

[2022-08-22 21:47] andersy005 commented on #167
This has been addressed in xarray as part of
- https://github.com/pydata/xarray/pull/5252

[2022-08-22 21:47] #167 closed

[2022-08-22 21:58] #339 closed, assigned to nobody

[2022-08-23 14:02] juliettelavoie commented on #470
I am using the catalog as an internal tool for the creation of my dataset. When I am done, I am sharing the output files (with attributes), but not the catalog. In these public files, I don't want to keep the path from our internal servers.

When I wrote the issue, I couldn't think of a use case where a user would need the path in the attrs, but there might be things I have not thought about. Sinc

[2022-08-23 14:08] andersy005 commented on #470
:+1:

I'll be closing this as resolved

[2022-08-23 14:08] #470 closed

[2022-08-23 19:00] mgrover1 commented on #407
Hi @wachsylon - sorry for the very delayed response. Those look like great tutorials!

Contributions are welcome - the repo we have been using for a registry of catalogs has been this repo https://github.com/NCAR/intake-esm-datastore .

We are taking a look at the PR you submitted there, hopefully getting feedback there + merging soon.

[2022-08-23 19:00] #324 closed

[2022-08-23 19:00] #490 closed

[2022-08-23 19:00] #474 closed

[2022-08-23 20:16] mgrover1 commented on #353
@andersy005 what still need to get done here? Are we still missing the docs?

[2022-08-23 22:22] andersy005 opened #511 "Integration with xarray datatree"
**Is your feature request related to a problem? Please describe.**

A while ago, we added support for an `xcollection.Collection` object which contains a mapping of datasets. This object behaves like a dictionary with additional functionality. However, with the more recent development of xarray-datatree --which will eventually be integrated into Xarray proper--, we should transition to using `Data

[2022-08-23 22:25] andersy005 commented on #353
For this particular issue, there is one pending issue that needs to be addressed

- https://github.com/intake/intake-esm/issues/511

Regarding the docs, everything looks good. I plan to organize what we currently have in a separate PR.

For the release, here's a list of outstanding issues that i think are worth addressing before the next release:  https://github.com/intake/intake-esm/milestone/11

[2022-08-26 05:12] #511 closed

[2022-08-26 05:32] #447 closed

[2022-08-26 06:19] #461 closed

[2022-08-31 18:30] RondeauG opened #518 "Make a new release of intake-esm"
**Is your feature request related to a problem? Please describe.**
With all the recent changes to `intake-esm`, the current Release (v2021.8.17) has become very outdated compared to the `main` branch.

**Describe the solution you'd like**
A new Release (compatible with `conda/PyPi`) would be greatly appreciated.

[2022-08-31 23:20] andersy005 commented on #518
I concur... This is on my TODO list for next week (I'm heading out on vacation for a week)

[2022-09-09 13:13] tlogan2000 opened #520 "Error using `to_dataset_dict()` with opendap url as path"
I am having errors loading data via `to_dataset_dict` when the path field contains an opendap url
installed intake_esm version : `2021.8.17`

This works fine
[code]
However try to use `to_dataset_dict()` results in a error :
[code]
traceback:
[code]

[2022-09-09 13:18] tlogan2000 commented on #520
Note I have also tried forcing `engine='pydap' ` via  `dsdict = cat.to_dataset_dict(cdf_kwargs=dict(chunks=dict(realization=1, time=365), engine='pydap'))`  but end up with the same error

[2022-09-14 18:47] mgrover1 commented on #520
@tlogan2000 , I tried reading in the catalog and received the following error:

[code]

Did you set the aggregation control in the catalog?

[2022-09-14 19:07] mgrover1 commented on #487
This appears to be resolved in the latest docs (https://intake-esm.readthedocs.io/en/latest/how-to/enforce-search-query-criteria-via-require-all-on.html)

[2022-09-14 19:07] mgrover1 commented on #481
@dcherian @andersy005 this appears to be resolved in the updated example

https://intake-esm.readthedocs.io/en/latest/how-to/enforce-search-query-criteria-via-require-all-on.html

[2022-09-16 01:36] #481 closed

[2022-09-16 01:36] #487 closed

[2022-09-16 01:36] #353 closed

[2022-09-16 01:41] andersy005 commented on #407
Just realized @wachsylon's [tutorials](https://data-infrastructure-services.gitlab-pages.dkrz.de/tutorials-and-use-cases/index.html) cover topics that are worth including in intake-esm's proper documentation. Therefore, i'm re-opening this issue

[2022-09-16 01:48] andersy005 commented on #407
@mgrover1, do you plan on covering the remain tasks in this list? i'd be happy to help... just want make sure there's no duplication of efforts

[2022-09-16 01:51] andersy005 commented on #407
@wachsylon, could i interest you in contribute a PR with some of the contents from your amazing tutorials? :) No pressure if you don't have time. i can help with this and would certainly credit you

[2022-09-16 22:38] mgrover1 opened #524 "BUG: Set default directory for serialization"
Here's a quick checklist in what to include:

- [ ] Include a detailed description of the bug or suggestion
- [ ] Output of `intake_esm.show_versions()`
- [ ] Minimal, self-contained copy-pastable example that generates the issue if possible. Please be concise with code posted. See guidelines below on how to provide a good bug report:

  - [Minimal Complete Verifiable Examples](https://stackoverfl

[2022-09-17 22:03] #524 closed

[2022-09-19 14:33] huard commented on #520
No, the specs mention it is optional.

[2022-09-27 02:13] paolap opened #535 "catalogue that used to work with previous version is now failing when loading entry"
Hi,

we have two catalogues that work fine with the odder version of intake-esm but that failed to load a entry once we upgraded to the new version.
I've initially posted this issue on the intake repository, as we updated to 0.6.6 at the same time and the error seems to be in the intake code when an entry is loaded.
Many more details, included a test catalogue are in

https://github.com/intake/int

[2022-09-27 02:41] andersy005 commented on #535
thank you for reporting this, @paolap! This is certainly a bug, and i just open a PR with a fix.

By the way, with the new version of `intake-esm`, you will need to update the `esmcol_obj` to `obj` in your `catalogue.yaml`

[code]

[2022-09-27 02:45] paolap commented on #535
Thanks :-) and thanks for providing the code I manage quite a lot of datasets and we are now trying to use intake and intake-esm to catalogue all of them :-)

[2022-09-27 02:47] andersy005 commented on #535
So glad to hear `intake` and `intake-esm` are being used extensively in your work. Please feel free to open issues and request features as you see fit

[2022-09-27 02:49] andersy005 commented on #518
The newly released version `v2022.9.18` is available on `PyPI` and `conda-forge`.

Closing this...

[2022-09-27 02:49] #518 closed

[2022-09-27 02:51] #535 closed

[2022-09-27 02:57] andersy005 commented on #535
@paolap, i plan to release a new version by the end of this week. in the meantime, do you mind trying the `main` branch of `intake-esm` to confirm that the issue is completely fixed on your end?

[code]

[2022-09-27 03:20] paolap commented on #535
I can confirm it work with my test catalogue :-)

intake_esm.show_versions()

INSTALLED VERSIONS
------------------

cftime: 1.6.2
dask: 2022.9.1
fastprogress: 1.0.3
fsspec: 2022.8.2
gcsfs: None
intake: 0.6.6
intake_esm: 2022.9.18.post4
netCDF4: 1.6.1
pandas: 1.5.0
requests: 2.28.1
s3fs: None
xarray: 2022.6.0
zarr: 2.12.0

<era5 catalog with 794 dataset(s) from 580644 asset(s)>

Thanks again!

[2022-10-19 15:55] aulemahal opened #540 "Passing Path objects to `esm_datastore`"
This is very minor, but I feel we should be able to pass `pathlib.Path` objects to `intake_esm.esm_datastore`.

Currently it fails with:
[code]

So in fact, the error comes from `fsspec`. I nevertheless feel that `intake_esm` would be the best place to cast the path to string.

[2022-10-31 15:57] aulemahal opened #543 "Keep ancillary variables"
**Is your feature request related to a problem? Please describe.**
A catalog would list all the "primary" variables in its assets. If one of the assets contains ancillary data for the primary variable, so variables not listed in the catalog, those do not get included in the output. Coordinates are included and even grid mappings (#449), but not variables listed in the CF `ancillary_variables` attr

[2022-11-15 09:28] wachsylon opened #546 "Function of derived registry"
Hi,

I do not understand the design/function of the derived variable registry. I use the official release 2022.9.18.

- it seems like I cannot search for derived variables. If I use `derived_variables` as search key, it says the key is not in the query model. This is already a problem because `derived_variable` is shown as a key of the catalog but I cannot use it, e.g. for `unique`. If I use `vari

[2022-11-16 00:30] andersy005 commented on #546
@wachsylon, the `derived variable` registry is an experimental feature, and i wouldn't be surprised if some cases don't work.

Do you mind sharing code/code snippets/reproducible examples you are working with?

[2022-11-16 14:51] wachsylon commented on #546
I fixed some things and now `unique` is working. However, the `search` for `derived_variables` is not working. Adding and separating searches for variables and derived variables make things easier because otherwise it is complex to explain to users the result of the search for `variable`.  It is not obvious:

- if the searched variable is part of a derived variable, is the derived one included in

[2022-11-16 15:16] mgrover1 opened #547 "CI is failing"
### Description

Continuous integration is failing due to some failing kerchunk tests.

[2022-11-16 19:07] #547 closed

[2022-11-18 20:00] huard opened #549 "`aggregation_control` is documented as optional but coded as mandatory in pydantic model"
### Description
The `esm-catalog-spec.md` documentation says that the `aggregation_control` field is optional https://github.com/intake/intake-esm/blob/c7cc33474564402096f3f66530828741b660f9e8/docs/source/reference/esm-catalog-spec.md?plain=1#L72 but the pydantic model defines is as mandatory https://github.com/intake/intake-esm/blob/c7cc33474564402096f3f66530828741b660f9e8/intake_esm/cat.py#L114